**

!/.github/
!/.github/**
!/src/
!/src/**
!/test/
!/test/**
!/README.md

!/.gitignore
!/.claude-plugin/
!/.claude-plugin/**
!/.mcp.json
!/package.json
!/tsconfig.json
!/package-lock.json
!/.prettierrc
!/eslint.config.js
